      <header>
        <div class="container">
          <h1 style="cursor: pointer;" onclick="javascript:void(document.location = '/');">allong.es</h1>
          <h2>Practical function combinator and decorator recipes from <a href="http://leanpub.com/javascript-allonge">JavaScript Allongé</a></h2>

          <section id="downloads">
            <a href="https://github.com/raganwald/allong.es" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </section>
        </div>
      </header>