    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/jquery-1.8.3.min.js"></script>
    <script src="/assets/js/repo.min.js"></script>
    <script src="/assets/js/allong.es.0.10.0.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/assets/css/ie.css">
    <![endif]-->
    <link href="http://allong.es/atom.xml" type="application/atom+xml" rel="alternate" title="allong.es">
    <link rel="alternate" type="application/rss+xml" href="http://allong.es/rss.xml" title="allong.es">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <LINK REL=StyleSheet HREF="/assets/css/pygments.css" TYPE="text/css" MEDIA=screen>
        <title>{{ page.title }}</title>

    <script src="/assets/js/allong.es.0.10.0.js"></script>
    
    <script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    
    <style>
    
    #editor {
        position: absolute;
        width: 600px;
        height: 400px;
    }
    
    </style>