      <header>
        <div class="container">
          <h1 style="cursor: pointer;" onclick="javascript:void(document.location = '/');">allong.es</h1>
          <h2>Practical function combinator and decorator recipes inspired by <a href="https://leanpub.com/javascriptallongesix">JavaScript Allongé</a></h2>

          <section id="downloads">
            <a href="http://github.com/raganwald/allong.es" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
            <a href="/try/" class="btn btn-github"><span class="icon"></span>Try in your browser</a>
          </section>
        </div>
      </header>